@font-face {
    font-family: font_light_200;
    src: url('Poppins/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: font_Bold_700;
    src: url('Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 16px;
    line-height: 24px;
    color: #505050;
    Background-color: #E3E3E3;
    width: 1170px;
    font-family: font_light_200;
}

h1 {
    font-family: font_Bold_700;
}


/* Session 1 */

.session-1 .container-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 3em;
    text-align: center;
    background-color: darkblue;
    color: white;
    justify-content: center;
    align-items: center;
}

.company-name , .menu {
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: row;
}

.contact-us, .homee, .about-us, .buy-now {
    width: 100%;
}



/* Session 2*/

.session-2 .container-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 250px;
    text-align: center;
    justify-content: center;
}

.session-2 .container-1 .content {
    width: 40%;
}

/*Session 3*/
.session-3 {
    background-color: white;
}

.session-3 .container-1 {
    width: 100%;
    display: flex;  
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: stretch;
}

.session-3 .container-1 .left {
    width: 20%;
    border: 2px solid black;
    text-align: center;
}

.session-3 .container-1 .content {
    width: 46%;
    margin: 1.2em;
}

.session-3 .container-1 .right {
    width: 20%;
    border: 2px solid black;
    text-align: center;
}

/*Session 4*/

.session-4 .container-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

.session-4 .container-1 .left {
    width: 26%;
    background-color: white;
    margin: 3em 2em;
}

.session-4 .container-1 .left p {
    padding: 1.5em 1.5em;
}

.session-4 .container-1 .right p {
    padding: 1.5em 1.5em;
}

.session-4 .container-1 .content p {
    padding: 1.5em 1.5em;
}

.session-4 .container-1 .content {
    background-color: white;
    margin: 3em 2em;
    width: 26%;
}

.session-4 .container-1 .right {
    width: 26%;
    display: flex;
    flex-direction: column-reverse;
    margin: 3em 2em;
    background-color: white;
}

/* Session 5*/
.session-5 {
    background-color: white;
}

.session-5 .container-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.item {
    color: red;
    display: flex;
    font-size: 24px;
    width: 20em;
    margin: 1.5em 1.5em;
    height: 4em;
    background-color: #505050;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.left {
    width: 20%;
}

.content {
    width: 40%;
}

.right {
    width: 20%;
}

/* Session 6 */
.session-6 .container-1 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15em;
}

.item1{
    width: 7em;
    height: 5em;
    margin-left: 1em;
    background-color: blue;
}

.item2{
    width: 7em;
    height: 12em;
    background-color: blue;
    margin-left: 1em;
}

.item3{
    width: 7em;
    height: 10em;
    margin-left: 1em;
    background-color: blue;
}

.item4{
    width: 7em;
    height: 7em;
    margin-left: 1em;
    background-color: blue;
}

/* Session 7 */
.session-7 .container-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 50px;
    background-color: black;
    justify-content: center;
    color: white    ;
    align-items: center;
}

.item-1, .item-2, .item-3 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.item-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.home, .about , .contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
